*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div.navbar{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
    padding: 40px;
    background-color: red;
}


.medium>i{
    font-size: 40px;
    cursor: pointer;
}

.medium>span{
    font-size: 40px;
    cursor: pointer;
}

.membership>i{
    padding: 5px;
    cursor: pointer;
}

.membership>button{
    padding: 5px;
    cursor: pointer;
}

.btn1{
    border-radius: 50px;
    background-color: white;
}

.btn1:hover{
    background-color: brown;
}

.btn2{
    border-radius: 50%;
    width: 27px;
    background-color: orange;
}

.main{
    display: flex;
    justify-content: end;
    height: 100vh;
    margin: 0 40px;
}
.positioning{
    height: 100vh;
}
.left-container{
display: flex;
width: 70%;
height: 200px;
border: 2px solid black;
}

.right{
    width: 30%;
    background-color: orange;
    border-left:1px solid grey ;
}

.left{
    width: 75%;
    height: 100%;
}

.image-content{
    margin-top: 50px;
    width: 20%;
    height: 60%;
    background-color: brown;
    background-image: url(car.jpeg);
    background-size: cover;
}



.upper-line>span{
    margin: 5px;
    font-weight: 500;
    color: grey;
}

.upper-line>span:hover{
    cursor: pointer;
    transition: all 1s ease;
    color: black;
    font-weight: bold;
}

.upper-line>hr{
    margin-top: 5px;
    margin-right: 50px;
}

.mid-line{
    display: flex;
    margin-top: 25px;

}
.mid-line>img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.mid-line>span{
    color: rgb(48, 45, 45);
    font-weight: bold;
    cursor: pointer;
}

.internal>span{
font-weight: bold;
cursor: pointer;
}

.text-link{
    margin-top: 10px;
}

.text-link>span{
    color: grey;
    cursor: pointer;
}


.baseline{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.order1{
    display: flex;
}

.order1>div{
    margin-right: 15px;
    color: grey;
}


.order1>div:hover{
    background-color: rgb(194, 192, 192);
    border-radius: 50px;
    cursor: pointer;
    transition: all 1s ease;
    color: black;
}

.order2{
    display: flex;
}

.order2>div{
    margin-right: 15px;
    cursor: pointer;
}

.second-container{
    border: 2px solid brown;
    height: 500px;
    width: 500px;
}